/* 
- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

### Neutral

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%)
*/

*{
    box-sizing: border-box;
}

html{
    
    height: 100%;
}



body{
    
    font-family: 'Raleway';
    font-size: 14px;
    height: 100%;
    color: white;
}

section.row{
    background: url(images/bg-desktop.svg), hsl(229, 57%, 11%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
    height: 100%;
    display: grid;
    grid-template-columns: 23% 40%;
    justify-content: center;
    align-items: center;
}


.row > div {
    
    background-color: hsl(228, 56%, 26%);
    margin: 1em;
}

.left-div{
    padding: 30px;
    border-radius: 10px 80px 10px 10px; 
    position: relative;
    bottom: 10px; 
}


.logo img{
    
    width: 50%;
}


.icons{
    
    margin-top: 20px;
}


.icons img{
    
    padding: 10px;
    height: 35px;
    width: 40px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 5px;
    margin: 5px;
}

.right-div{
    
    padding: 20px;
    border-radius: 10px;
    position: relative;

}

.right-div .comment{
    width: 120px;
    height: 60px;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -25px;
    right: 30px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    
}

.comment::after{
    
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -20px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.comment strong{
    font-size: 30px;  
}


.values{
    display: flex;
    justify-content: space-between;

}

.progress-bar{
  height: 12px;
  border-radius: 20px;
  background-color: hsl(229, 57%, 11%);
  padding: 2px; 
  position: relative;
 
}


.progress {
  width: 80%;
  height: 8px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: inherit; 
  
 
  
}


.progress-bar::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  right: 20.5%;
  bottom: 2px;

}
    


@media screen and (max-width: 798px){
    
    section.row{
        grid-template-columns: auto;
        background-image: url(images/bg-mobile.svg);
        background-size: cover;
        background-position: bottom;

        
    }
    
    
    .left-div{
        bottom: 0;
        top: 35%;
    }
    
    .right-div .comment{
   
    top: 85%;
    right: 22%;
    width: 150px; 
    
}
    
   
.comment::after{
   
  border-width: 0;
  
}


}
